* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.project {
    background: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

#insert {
    font-size: 20px;
    color: #333;
}

.key {
    font-weight: bold;
    color: #2a5298;
    font-size: 22px;
}



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    padding: 12px 20px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid #ddd;
}

