*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1d2671, #c33764);
}

#quote{
    background-color: white;
    padding: 40px 50px;
    border-radius: 17px;
    text-align: center;
    box-shadow: 0 16px 37px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
}

#btn{
    margin: 20px;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    font-weight: 500;

}