.circle{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: grow 5s forwards;  
    position: absolute;
}


@keyframes grow {
    0%{
        transform: scale(1);
        opacity: 1;
        font-size: 10px;
    }

    100%{
        transform: scale(3);
        opacity: 0;
        font-size: 30px;
    }
}