*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#parent {
    background-color: #e1e1e1;
    padding: 50px;
    border-radius: 19px;
    text-align: center;
    width: 390px;
    box-shadow: 0 15px 40px #9595a5;
}

#parent, h1{
    color: rgb(81, 81, 87);
    margin-bottom: 20px;
}

 form{
    display: flex;
    flex-direction: column;
    color: #dd0000;
} 

label{
    text-align: center;
    font-weight: 700;
    color: rgb(16, 16, 150);
}

input{
    padding: 12px;
    border: 2px solid rgb(156, 146, 146);
    border-radius: 10px;
    font-size: 20px;
}

button{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    background: linear-gradient(135deg, #857276, #ff99ac);
    border: none;
    color: white;
    font-size: 20px;
    margin-bottom: 20px
}

#parent, h2{
    color: rgb(81, 81, 87);
    margin-bottom: 20px;
    position: fixed;
    padding-bottom: 50px;
}