*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.nav-bar{
    width: 100%;
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.choice{
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s linear,  0.3s ease;
} 




.choice:hover{
 background-color: #081b31;
 transform: scale(1.1);
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;   
}


.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem ;
    gap: 5rem;
}

#user_score , #comp_score{
  font-size: 5rem;
  font-weight: 100;
}


.msg_container{
  margin-top: clamp(2rem, 5vw, 5rem);
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

#msg{
    background: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}