#clock {
    width: 550px;
    height: 200px;
    padding: 20px;
    margin: 50px auto;
    
    background: #111;
    color: #00ffcc;
    
    font-size: 70px;
    font-family: 'Courier New', monospace;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.6);
}
